body {
    font-family: 'Arial', sans-serif;
    background-image: url('/static/images/uni_image.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.form-label {
    color: black;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2px 5px;
    border-radius: 4px;
}

.card {
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 10px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}